.container {
    width: 1300px;
}
.bigWrapper {
    width: 800px;
    margin: 0 auto;
}
.small {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
}
img {
    border: 2px solid;
}
.button {
    display: flex;
    width: 65px;
    padding: 20px;
    background-color: #f1deec;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}